@import url("https://fonts.googleapis.com/css?family=Poiret+One|Arapey|Caveat");

body {
  background-image: url('http://www.orangesmile.com/common/img_city_maps/nazareth-map-0.jpg');
}

#root {
  margin: auto;
  background-color: rgb(178, 169, 240, 0.9);
  width: 900px;
  height: 900px;
}

#header {
  /* background-color: silver; */
}

#main {
  /* background-color: blue; */
}

#footer {
  /* background-color: white; */
}

#race {
<<<<<<< HEAD
  /* background-color: red; */
  height: 400px;
=======
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  height: 100px;
>>>>>>> master
}

#avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
}

#race1 {
  position: relative;
}

#race2 {
  /* position: relative; */
}
