@import url("https://fonts.googleapis.com/css?family=Poiret+One|Arapey|Caveat");

body {
  background-color: green;
}

#root {
  margin: auto;
  width: 75%;
}

#header {
  background-color: silver;
}

#main {
  background-color: blue;
}

#footer {
  background-color: white;
}

#race {
  background-color: red;
}

#avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
}

.player-1 {
  background-color: black;
}

.player-2 {
  background-color: orange;
}
