@import url("https://fonts.googleapis.com/css?family=Poiret+One|Arapey|Caveat");

body {
  background-color: green;
}

#root {
  margin: auto;
  width: 75%;
}

#header {
  background-color: silver;
}

#main {
  background-color: blue;
}

#footer {
  background-color: white;
}

#race {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  height: 100px;
}

#avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
}

#race1 {
  position: relative;
}

#race2 {
  /* position: relative; */
}
